[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/SDL2"]
	path = External/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
